button, a.btn {
  font-family: NexaLight;
}
li a svg.svg {
  fill: #ddd;
}

li a.active svg.svg {
  fill: #002147;
}

li a.active small {
  color: #002147;
}

li a small {
  color: #ddd;
}
div.reg-nav ul.nav li h2 {
  margin-bottom: 0;
}

.form-views { width:auto; }

.progress-bar {
  background-color:#002147;
}
strong.nexa {
  font-family:NexaLight;
}
.col-centered{
    float: none;
    margin: 0 auto;
    
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px
}
.chemprop {
  background-color:#eee;
  color: #002147;
  padding:5px;
  margin-bottom:10px;
  border-radius:5px;
}
.chemprop div {
  background-color: #2e6da4;
  color:white;
  border-radius: 5px;
}
.projectbox {
  background-color: lightcyan;
  color: #002147;
}

.mt-8 {
   margin-top:8px;
}

.dimension{
  cursor:pointer; 
  padding:5px;
  margin:0px;
}

.dimensions-container {
  min-height:40px;
}

.dimensions-list {
  min-height:300px;
}

.dimensions-list li {
  margin:10px !important;
}

.well {
  padding:5px;
}

.well .alert-success {
    margin-bottom: 0;
}

.bin {
  min-height: 200px;
}

.bin .alert-success {
    margin-bottom: 10px;
}

.myGrid {
    width: 100%;
    height: 600px;
    font-family: NexaLight;
  }

.ngHeaderSortColumn {
  text-align: center;
}

.ngFooterPanel {
  background-color: #002147;
  padding: 0;
  border-top: 1px solid #d4d4d4;
  position: relative;
  color: white;
}
.ngPagerContainer select, .ngPagerCurrent {
  color: #002147;
}
.ngPagerButton {
  border-radius: 4px;
}

.ngTotalSelectContainer {
  float: left;
  margin: 2px;
}

.ngPagerButton {
  border-radius: 4px;
  color: white;
  background-color: #002147;
  border: 1px solid white;
}
.ngPagerFirstTriangle {
  border-color: transparent #fff transparent transparent;
}
.ngPagerFirstBar {
  border-left: 2px solid #fff;
}
.ngPagerLastTriangle {
  border-color: transparent transparent transparent #fff
}
.ngPagerLastBar {
  border-left: 2px solid #fff;
}

.id-overlay {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
  padding: 4px;
  font-weight: bold;
  color:white;
}

i {
  margin: 0;
}
/* Calendar stuff */
ul.dropdown-menu.ng-valid-date {
  width:270px;
}