<nav class="navbar navbar-default" role="navigation" style="border-bottom:10px solid #72777f; border-top:5px solid #002147;">

	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<!-- Projects button -->
				<div class="row pull-left">
					<div class="dropdown" ng-show="isLoggedIn()">
						<button id="projectsBtn" class="btn btn-primary btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"></span> <span class="hidden-xs hidden-sm">{{projectKey || Projects}}</span> <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="projectsBtn" >
							<li role="presentation" ng-repeat="prj in projects"><a ui-sref="projects.list.project({projectKey: prj.project_key})">{{prj.name}}</a></li>
							<li ng-hide="projects.length"><a href="#" style="color: #ddd">No projects</a></li>
							<li ng-show="projects.length" style="background-color:#ddd;"><a ui-sref="projects.list">Go to list...</a></li>
						</ul>
					</div>
					
				</div>
				
			</div>
			<div class="col-xs-4" id="slogan">
				<h2 class="text-center" style="padding-top:5px;"><a href="https://chembiohub.ox.ac.uk" target="_blank"><img src="../bower_components/chembiohub-theme/img/CBH_2_2_LowRes.png" style="height:45px"></a>  AssayReg <small><sup>alpha</sup></small></h2>
			</div>
			<div class="col">
					<div class="dropdown pull-right" ng-show="isLoggedIn()">
						<button id="userBtn" class="btn btn-primary btn-toggle mt-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="hidden-xs hidden-sm">{{logged_in_user.first_name || logged_in_user.username}}</span> <span class="caret"></span></button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="userBtn">
							<li role="presentation"><a href="mailto:info@chembiohub.ox.ac.uk?subject=ChemReg Issue"><span class="glyphicon glyphicon-exclamation-sign"></span> <strong class="nexa">Report an issue</strong></a></li>
							<li role="presentation"><a href="{{ getUrlBase() }}logout"><span class="glyphicon glyphicon-off"></span> <strong class="nexa">Log Out</strong></a></li>
							<!-- <li role="presentation"><a href="#">User Option B</a></li>
							<li role="presentation"><a href="#">User Option C</a></li>
							<li role="presentation"><a href="#">User Option D</a></li> -->
						</ul>
					</div>
			</div>
			<div class="col">
				<!-- Login and top level nav -->
					<div class="pull-right">
						<div style="padding-top:10px;">
							<small>
								<a ui-sref="projects.list" style="color:white;vertical-align: text-top;">Projects</a> | <a ui-sref="search" style="color:white;vertical-align: text-top;">Search</a> | <a ui-sref="help" style="color:white;vertical-align: text-top;">Help</a>&nbsp;
							</small>
						</div>
					</div>
				
			</div>
			

		</div>
	</div>

</nav>

<script>
$('.btn-toggle').dropdown()
</script>



