<nav class="navbar navbar-default" role="navigation" style="border-bottom:10px solid #72777f; border-top:5px solid #002147;">

	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<!-- Projects button -->
				<div class="row pull-left">
					<div class="dropdown" ng-show="isLoggedIn()">
						
					</div>
					
				</div>
				
			</div>
			<div class="col-xs-4" id="slogan">
				<h2 class="text-center" style="padding-top:5px;"><a href="https://chembiohub.ox.ac.uk" target="_blank"><img src="/reg/bower_components/chembiohub-theme/img/CBH_2_2_LowRes.png" style="height:45px"></a>  AssayReg <small><sup>alpha</sup></small></h2>
			</div>
			<div class="col-xs-3">
				
			</div>
			<div class="col-xs-1">
				<div class="row">
					<div class="dropdown pull-right" ng-show="isLoggedIn()">
						
					</div>
				</div>
			</div>

		</div>
	</div>

</nav>

<script>
$('.btn-toggle').dropdown()
</script>


