<div class="row">
	<div class="alert alert-info">
		<p><strong>Register your assays here</strong><br/></p>
	</div>
</div>

<!-- TODO - implement better l&f to file upload result - alert to say it's completed etc? Should be examples in flowjs docs -->


<div class="row">
	<div class="col-sm-12">
		<div class="box-body">
          <div sf-schema="dataModel.schema" sf-form="dataModel.form" sf-model="assay.model"></div>
        </div>
	</div>
	
</div>

	<div ng-show="filesInProcessing" class="col-centered bubblingG">
              <span id="bubblingG_1">
              </span>
              <span id="bubblingG_2">
              </span>
              <span id="bubblingG_3">
              </span>
	</div>
	