<div class="row">
	<div class="col-xs-12">
		<h2 class="subheading">{{ projectKey }}</h2>
		<h2 class="blue nexa">
			<small>Project details here</small>
		</h2>
	</div>
</div>

<div class="row">

	<!-- Column with results -->
	<div class="col-sm-12">

		<div ng-include="'views/templates/compound-list.html'"></div>

	</div>
</div>
<div class="row pull-right">
	<div class="col-xs-12">
		<h2><div class="dropdown pull-right">
			<button id="downloadBtnProj" class="btn btn-primary btn-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-download"></span> <span class="hidden-xs hidden-sm">Download</span> <span class="caret"></span></button>
<!-- 			<ul class="dropdown-menu" role="menu" aria-labelledby="downloadBtnProj">
				<li><a ng-href="{{  urlConfig.cbh_compound_batches.list_endpoint }}/?projectKey={{projectKey}}&project__project_key={{projectKey}}&{{ gridconfig.configObject.paramsUrl }}format=xls&limit=10000">Export All to Excel</a></li>
				<li><a ng-href="{{  urlConfig.cbh_compound_batches.list_endpoint }}/?projectKey={{projectKey}}&project__project_key={{projectKey}}&{{ gridconfig.configObject.paramsUrl }}format=sdf&limit=10000">Export All to SD</a></li>
			</ul> -->
		</div></h2>
	</div>
</div>

<div class="row">

	<div class="col-sm-4">

		<p class="centered">

			<div class="col-sm-6 entry-point centered">
			<a ui-sref="projects.project.assay_add.intro({projectKey: projectKey})">
				<div class="row hidden-xs">
					<div class="img-circle blue-bg">
						<span class="img-helper"></span>
						<img src="images/assay2.png" alt="add single"/>
					</div>
				</div>
				<div class="row">
					<div>
						<p class="nexa blue">Add Assay</p>
					</div>
				</div>
			</a>
		</div>

		<!-- <div class="col-sm-6 entry-point centered">
			<a ui-sref="projects.project.demo.add.multiple({projectKey: projectKey})">
				<div class="row hidden-xs">
					<div class="img-circle blue-bg">
						<span class="img-helper"></span>
						<img src="images/addmultiple.png" alt="add multiple"/>
					</div>
				</div>
				<div class="row">
					<div>
						<p class="nexa blue">Add Multiple Compounds</p>
					</div>
				</div>
			</a>
		</div> -->
		</p>

	</div>
</div>

<script>


</script>

	